<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	-->
	<script data-main="js/script.js" src="js/lib/require.js"></script>
	 <!--<script src ="js/modules/tmpl.js"></script>-->
   <!-- <script src ="js/script.js"></script>-->
</head>	
	
	

<body>
<script type="text/template" id="wrapper-template">
	<div class="wrapper">
	<p class="header">To-Do List</p>
		<div class="controlls">
			<input type="text" class="item-value">
			<button class="item-add">Add</button>
		</div>
		<ul class="item-list"></ul>
	</div>
	</script>

	<script type="text/template" id="list-template">
	<% for (var i=0; i<data.length; i++) { %>
		<li>
		<div class="item-text">
			<%= data[i] %> 
			<span data-value="<%= data[i] %>" class="item-delete"></span>
		</li>
	<% }; %>	
	
	</script>
</body>
</html>